.modal{
  background-color: #FFFABA;
  border: 2px solid #FFAB05;
  border-radius: 20px 20px 20px 20px;
  color: black;
  display: none;
  height: 80%;
  left: 10%;
  position: fixed;
  top: 10%;
  width: 80%;
}

img {
  border-bottom: 2px solid #FFAB05;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  max-height: 180px;
  opacity: 0.8;
}

label {
  font-weight: bold;
}

.eventInfo {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.event-column-1,
.event-column-2 {
  width: 50%;
}